@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Noto+Sans+TC&display=swap');

body {
    
    background-color: rgb(0, 166, 237);
    font-size: 16px;
    font-family: 'Noto Sans TC', Arial, sans-serif;

}

header,
nav,
main,
footer {
    width: 960px;
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: rgb(127, 184, 0);
    margin: 0 auto;
    border: 11px solid rgb(255, 180, 0);
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 30px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(56, 50, 50);
    color: white;

}

header {
    background-color: #3a251e;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width:120px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 40px rgb(246, 81, 29);
    overflow: hidden;

}

header h1 {
    font-size: 4rem;
    font-family: 'IM Fell Great Primer SC', Arial, sans-serif;
    margin:0px;
}
div.motto{
    font-style: italic;
    font-size:1rem;
    color:rgb(255, 255, 255);
    text-shadow: none;
    padding-left: 2rem;
    text-shadow: 0 0 20px rgb(251, 255, 1);

}
section.heading{
    padding: 20px;
}

footer {
    color: white;
    background-color: rgb(246, 81, 29);
    border: 10px solid rgb(0, 0, 0);
}

body h3 {
    font-size: 2rem;
    color: rgb(56, 50, 50);
}

body p {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(36, 91, 143);
    background-color: rgb(40, 40, 167);
    box-shadow: 0 0 150px rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
}

div.social{
    text-shadow: 0 0 10px rgb(251, 255, 1);
    font-size: 2em;
}