@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Noto+Sans+TC&display=swap');

body {

    background-color: rgb(0, 166, 237);
    font-size: 16px;
    font-family: 'Noto Sans TC', Arial, sans-serif;

}

header,
nav,
main,
footer {
    max-width: 960px;
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: rgba(16, 117, 38, 0.911);
    margin: 0 auto;
    border: 11px solid rgb(255, 180, 0);
}

.action {
    background-color: rgba(240, 240, 240, 0.5);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
    grid-column: 1;
    grid-row: 1 / 2;
    z-index: 1;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: rgb(231, 194, 79);
    font-size: 1.2em;
}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.banner-box img {
    grid-column: 1 / -1;
    grid-row: 1 / 1;

}

.home-grid img {
    width: 100%;
    border: 10px solid rgb(228, 228, 228);
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
    position: sticky;
    max-width: 900px;
    position: relative;
    grid-gap: 40px;
    padding: 20px;
}

.banner-box img {
    width: 100%;
    height: auto;
}

.home-headline-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.home-right-img {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}

.home-paragraph-1 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.home-headline-2 {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
}

.home-left-img {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

.home-paragraph-2 {
    grid-column: 4 / 6;
    grid-row: 5 / 7;
}

.home-paragraph-3 {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    text-align: center;
}

strong {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    text-align: center;
}

.river-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    max-width: 900px;
    grid-gap: 40px;
    padding: 20px;
}

.river-grid img {
    width: 100%;


}

.river-grid p {
    background-color: white;
    color: black;
    border: none;
}

.river-1 {
    border: solid black;
    background-color: white;
}

.river-2 {
    border: solid black;
    background-color: white;
}

.river-3 {
    border: solid rgb(0, 0, 0);
    background-color: white;
}
.blog-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;

}

div.current-blog {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(224, 213, 213);
    border: solid black;
    margin:20px;
    grid-column: 1/3;

}
.current-blog img{
    grid-column:2;
    width: 90%;
    margin: 15px;

}
.current-blog p {
    grid-column: 1/3;
    column-count: 2;
    border: none;
    background-color: inherit;
    box-shadow: unset;
    color: black;
    text-emphasis: wrap;
    position: inherit;
}
.current-blog h3{
    font-family: 'IM Fell Great Primer SC', Arial, sans-serif;
    font-size: 4rem;
    height: 10px;
}



div.recent-blogs{
    margin-right: none;
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: rgba(92, 200, 115, 0.911);
    margin:20px;
    border: 11px solid rgb(226, 199, 136);
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 30px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(56, 50, 50);
    color: white;

}

header {
    background-color: #3a251e;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 120px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 40px rgb(199, 59, 16);
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}

header h1 {
    font-size: 4rem;
    font-family: 'IM Fell Great Primer SC', Arial, sans-serif;
    margin: 0px;
}

div.motto {
    font-style: italic;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: none;
    padding-left: 2rem;
    text-shadow: 0 0 20px rgb(251, 255, 1);

}

section.heading {
    padding: 20px;
}

footer {
    color: white;
    background-color: rgb(161, 74, 47);
    border: 10px solid rgb(0, 0, 0);
    text-align: right;
}

body h2 {
    font-size: 2.5rem;
    color: rgb(56, 50, 50);
    border-style: double none double;
    padding: 10px; 
    font-family: 'IM Fell Great Primer SC', Arial, sans-serif;
}

body p {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(36, 143, 59);
    background-color: rgb(75, 116, 82);
    box-shadow: 0 0 150px rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
}

div.social {
    text-shadow: 0 0 10px rgb(251, 255, 1);
    font-size: 2em;
    padding: 20px;
}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
        max-width: 425px;
    }
}